/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-x:hidden;
}

/* Get rid of border on fieldset */
fieldset {
  border: 0;
}

/* Content wrapper to get BG to fit full viewport */
.r-page-wrapper {
  height: 100%;
  width: 100vw;

  background-image: url("../img/contact-bg.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Make form wrapper flexbox */
.r-page-wrapper .r-form-wrapper {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Form styling */
form {
  min-height: 60vh;
  min-width: 50rem;

  margin-top: 17rem;
  margin-bottom: 10rem;

  background-color: rgba(0,0,0,0.6);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Register TITLE styling */
.r-form-wrapper .register-title {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: clamp(4rem, 4vw, 4.5rem);
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 4rem;
}

/* Add a red underline to title */
.r-form-wrapper .underline {
  border-bottom: 5px solid crimson;
}

/* Input box container styling */
.r-form-wrapper form .input-box {
  position: relative;
  margin-bottom: 2.5rem;
}

/* Actual input box styling */
.r-form-wrapper form .input-box .input-text-r {
  width: 100%;
  padding: 1.5rem;
  padding-left: 3rem;

  border: none;
  border-radius: 5px;

  background-color: #eee;
}

/* Submit BTN styling */
.r-form-wrapper form .r-submit-btn {
  width: 80%;
  padding: 1.5rem;
  margin-left: 3rem;
  margin-top: 2rem;

  background-color: rgb(172, 16, 47);
  border: none;
  border-radius: 5px;

  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  color: white;

  cursor: pointer;
}

/* Submit BTN HOVER */
.r-form-wrapper form .r-submit-btn:hover {
  color: black;
  background-color: white;
}

/* Submit BTN ACTIVE */
.r-form-wrapper form .r-submit-btn:active {
  color: white;
  background-color: rgb(172, 16, 47);
}

/* Input box ICON styling and POSITION */
.r-form-wrapper form .input-box i{
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  font-size: 1.5rem;
  color: #333;
}

/* Webkits for the placeholder text color change */
::-moz-placeholder { 
  color: crimson;
 }

 ::-webkit-input-placeholder {
   color: crimson;
 }

 /* FORM ACESSIBILITY (make label for forms not display as I want to keep the original design) */
 .form-label {
   display: none;
 }

/* RESPONSIVE */
 @media (max-width: 735px) {
  form {
    min-width: 80vw;

    margin-top: 20rem;
    margin-bottom: 0rem;
  }
 }
